<div class="container">
  <h1>Your User Dashboard</h1>
  <p>This is YOUR profile</p>

  <h2>Username:</h2>
  <p><%= @user.username %></p>

  <h2>Email: </h2>
  <p><%= @user.email %></p>

  <h2>Website: </h2>
  <p><%= @user.website %></p>

  <h2>Description: </h2>
  <p><%= @user.description %></p>

<form action='/user/logout' method='post'><button>Logout</button></form>
</div>
