<div class="container">
  <h1>Lil Twitter!</h1>
  <p>Go follow someone!</p>


  <form action="/user/login" method='get'>
    <button>Login</button>
  </form>
  <br>
  <form action="/user/create" method='get'>
    <button>Create Account</button>
  </form>
</div>
